In [1]:
import pandas as pd
import numpy as np

## Base de dados de clientes

In [2]:
people = pd.read_csv("people.csv")
people

C:\Users\mxaff\AppData\Local\Temp\ipykernel_14296\3314123646.py:1: DtypeWarning: Columns (0,12,16,32) have mixed types. Specify dtype option on import or set low_memory=False.
  people = pd.read_csv("people.csv")

,idERP,genero,bairro,cidade,estado,tipo,nascimento,filialCadastro,totalGasto,totalVendaSemDesconto,...,numeracaoPreferida,corPreferida,materialPreferido,paletaCorPreferida,ltv,perfil,ltvFormula,maxFrequencyLTV,correctGender,ultimaLojaId
0,2012148,F,NaN,FLORIANÓPOLIS,SC,FISICA,NaN,NaN,249.98,NaN,...,NaN,NaN,NaN,NaN,249.98,Lost,NaN,721.0,True,2.628352e+13
1,2022137,F,NaN,NaN,SC,FISICA,NaN,NaN,29.99,NaN,...,3538,NaN,NaN,NaN,29.99,Lost,NaN,718.0,True,2.628352e+13
2,2023304,M,NaN,Blumenau,SC,FISICA,1991-01-29 00:00:00 UTC,NaN,249.98,NaN,...,M,NaN,NaN,NaN,249.98,Lost,NaN,721.0,False,2.628352e+13
3,2023637,F,NaN,RODEIO,SC,FISICA,NaN,NaN,349.98,NaN,...,NaN,NaN,NaN,NaN,349.98,Lost,NaN,721.0,True,2.628352e+13
4,2023721,F,NaN,BLUMENAU,SC,FISICA,1992-01-07 00:00:00 UTC,NaN,279.98,NaN,...,NaN,NaN,NaN,NaN,279.98,Lost,NaN,721.0,True,2.628352e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552288,2771409,F,NaN,São Paulo,SP,FISICA,2000-12-12 00:00:00 UTC,NaN,389.93,NaN,...,L,NaN,NaN,NaN,957.89,Potential Loyalist,NaN,720.0,False,2.948217e+13
552289,2771780,NaN,NaN,SÃO PAULO,SP,FISICA,1999-05-01 00:00:00 UTC,NaN,149.94,NaN,...,XS,NaN,NaN,NaN,582.23,Promising,NaN,721.0,False,2.948217e+13
552290,2779961,NaN,NaN,São Paulo,SP,FISICA,1999-12-07 00:00:00 UTC,NaN,129.99,NaN,...,OSFM,NaN,NaN,NaN,514.63,Promising,NaN,721.0,False,2.948217e+13
552291,2792405,S,NaN,São Paulo,SP,FISICA,1982-06-28 00:00:00 UTC,NaN,659.96,NaN,...,S,NaN,NaN,NaN,2813.57,Promising,NaN,721.0,False,2.948217e+13
552292,2803681,NaN,NaN,SÃO PAULO,SP,FISICA,1991-12-12 00:00:00 UTC,NaN,299.98,NaN,...,NaN,NaN,NaN,NaN,1320.49,Promising,NaN,721.0,False,2.948217e+13

In [3]:
people.columns

Index(['idERP', 'genero', 'bairro', 'cidade', 'estado', 'tipo', 'nascimento',
       'filialCadastro', 'totalGasto', 'totalVendaSemDesconto',
       'totalDesconto', 'totalPecas', 'somenteDesconto',
       'tipoPagamentoPreferido', 'idLojaPreferida', 'canal', 'primeiraCompra',
       'ticketMedio', 'ticketMax', 'ticketMin', 'quantidadePedidos',
       'percentualMedioDesconto', 'paMedio', 'frequencia',
       'frequenciaOriginal', 'frequenciaMax', 'frequenciaMin',
       'dataUltimoPedido', 'dataPrimeiroPedido', 'paGroup', 'tmGroup',
       'pdGroup', 'best', 'frequencyLevel', 'frequencyLevelSize', 'situacao',
       'ultimaInteracao', 'criacao', 'numeroCalca', 'numeracaoPreferida',
       'corPreferida', 'materialPreferido', 'paletaCorPreferida', 'ltv',
       'perfil', 'ltvFormula', 'maxFrequencyLTV', 'correctGender',
       'ultimaLojaId'],
      dtype='object')

In [4]:
people.isnull().sum().sort_values(ascending = False)

frequenciaOriginal         552293
tipoPagamentoPreferido     552293
pdGroup                    552293
paMedio                    552293
frequencyLevel             552293
frequencyLevelSize         552293
ticketMin                  552293
ticketMax                  552293
ultimaInteracao            552293
criacao                    552293
numeroCalca                552293
paGroup                    552293
tmGroup                    552293
corPreferida               552293
totalPecas                 552293
totalDesconto              552293
totalVendaSemDesconto      552293
materialPreferido          552293
filialCadastro             552293
paletaCorPreferida         552293
ltvFormula                 552293
bairro                     552293
frequenciaMin              552273
frequenciaMax              514452
nascimento                 281410
cidade                     124463
numeracaoPreferida         116000
genero                      25703
ultimaLojaId                  151
idLojaPreferida                98
dataUltimoPedido               89
maxFrequencyLTV                89
estado                         89
perfil                         89
ltv                            89
tipo                           89
totalGasto                     89
somenteDesconto                89
dataPrimeiroPedido             89
primeiraCompra                 89
ticketMedio                    89
percentualMedioDesconto        89
best                           89
frequencia                     89
canal                           0
situacao                        0
quantidadePedidos               0
correctGender                   0
idERP                           0
dtype: int64

In [5]:
people["perfil"].value_counts()

Need Attention        162119
Hibernating            97777
Lost                   97751
Potential Loyalist     38451
Promising              37385
Recent Customer        37384
Loyal                  25050
About Sleep            17785
At Risk                17780
Can't Lose             10404
Champion               10318
Name: perfil, dtype: int64

In [6]:
people = people.drop(['bairro', 'cidade', 'estado', 'tipo', 'filialCadastro', 'tipoPagamentoPreferido', 'idLojaPreferida', 'canal', 'ultimaInteracao', 'criacao'], axis="columns")
people.head(5)

,idERP,genero,nascimento,totalGasto,totalVendaSemDesconto,totalDesconto,totalPecas,somenteDesconto,primeiraCompra,ticketMedio,...,numeracaoPreferida,corPreferida,materialPreferido,paletaCorPreferida,ltv,perfil,ltvFormula,maxFrequencyLTV,correctGender,ultimaLojaId
0,2012148,F,NaN,249.98,NaN,NaN,NaN,False,True,249.98,...,NaN,NaN,NaN,NaN,249.98,Lost,NaN,721.0,True,2.628352e+13
1,2022137,F,NaN,29.99,NaN,NaN,NaN,False,True,29.99,...,3538,NaN,NaN,NaN,29.99,Lost,NaN,718.0,True,2.628352e+13
2,2023304,M,1991-01-29 00:00:00 UTC,249.98,NaN,NaN,NaN,False,False,124.99,...,M,NaN,NaN,NaN,249.98,Lost,NaN,721.0,False,2.628352e+13
3,2023637,F,NaN,349.98,NaN,NaN,NaN,False,True,349.98,...,NaN,NaN,NaN,NaN,349.98,Lost,NaN,721.0,True,2.628352e+13
4,2023721,F,1992-01-07 00:00:00 UTC,279.98,NaN,NaN,NaN,False,True,279.98,...,NaN,NaN,NaN,NaN,279.98,Lost,NaN,721.0,True,2.628352e+13

Conclusão de que há muitas variáveis nulas e com isso impossibilita o uso da base afins de recomendação baseado no perfil da pessoa

## Base de dado de transações antiga

In [7]:
t = pd.read_csv("transacoes.csv")
t2 = t.drop(["Unnamed: 0", "descontoCompra", "dataEvento", "numeroPedidoLoja", "idVendedor", "sellerId", "totalProdutos", "totalVenda", "canal", "desconto", "material", "valorFrete", "observacoes"], axis='columns')
t2

,idTransacao,dataVenda,numero,idLoja,idCliente,idItem,descricao,categoria,numeracao,quantidade,valorUnitario,cor
0,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059805419445,CALCA TIGHT LOGO MARCA BLACK M,Originais,M,4,11.00,BLACK
1,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059805431898,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,14,10.00,WHITE/BLACK
2,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059807089837,CALCA TIGHT LOGO MARCA BLACK M,Originais,S,1,10.00,WHITE
3,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059807089929,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,4,10.00,WHITE
4,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059807103632,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,3,16.00,MULTCO
...,...,...,...,...,...,...,...,...,...,...,...,...
1901557,30848516000313-35356,2022-09-10,4746661,30848516000313,2788095,4064044253613,CALCA TIGHT LOGO MARCA BLACK M,Treino,XL,1,129.99,BLACK
1901558,30848516000313-35356,2022-09-10,4746661,30848516000313,2788095,4065429127550,CALCA TIGHT LOGO MARCA BLACK M,Treino,S,1,149.99,CBURGU/WHITE
1901559,21103537000823-933,2022-10-14,4867178,21103537000823,2036081,4065426710182,CALCA TIGHT LOGO MARCA BLACK M,Corrida,37,1,1599.99,GREFIV/ZEROMT/BEAORA
1901560,21103537000823-933,2022-10-14,4867178,21103537000823,2036081,4065415133770,CALCA TIGHT LOGO MARCA BLACK M,Vestimentas esportivas,M,1,199.99,BLACK/WHITE
1901561,21103537000823-933,2022-10-14,4867178,21103537000823,2036081,4066747337133,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,1,499.99,WONOXI

In [8]:
t2.isnull().sum().sort_values(ascending = False)

cor              98685
numeracao        85589
categoria        84586
idTransacao          0
dataVenda            0
numero               0
idLoja               0
idCliente            0
idItem               0
descricao            0
quantidade           0
valorUnitario        0
dtype: int64

In [9]:
t2["descricao"].value_counts()

CALCA TIGHT LOGO MARCA BLACK M    1901562
Name: descricao, dtype: int64

In [10]:
t2["cor"].value_counts()

BLACK                   278897
BLACK/WHITE             102542
WHITE                    91852
MULTCO                   49110
WHITE/BLACK              43055
                         ...
FOCOLI/BORANG/SHANAV         1
DKBLUE/BRIRED/LGBLSL         1
CBLACK/RAWGOL/FTWWHT         1
LGSOGR/FTWWHT/LGSOGR         1
DRKCAR/DRKCAR/BOGOLD         1
Name: cor, Length: 6154, dtype: int64

In [11]:
def colorido(t2):
    if type(t2["cor"]) != str:
        return True
    if "black" in t2["cor"].lower() or "white" in t2["cor"].lower() or "grey" in t2["cor"].lower() or "gray" in t2["cor"].lower():
        return False
    return True

t2['colorido'] = t2.apply(colorido, axis=1)
t2

,idTransacao,dataVenda,numero,idLoja,idCliente,idItem,descricao,categoria,numeracao,quantidade,valorUnitario,cor,colorido
0,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059805419445,CALCA TIGHT LOGO MARCA BLACK M,Originais,M,4,11.00,BLACK,False
1,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059805431898,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,14,10.00,WHITE/BLACK,False
2,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059807089837,CALCA TIGHT LOGO MARCA BLACK M,Originais,S,1,10.00,WHITE,False
3,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059807089929,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,4,10.00,WHITE,False
4,21092678000111-1269,2018-12-25,864290,21103537000580,2110453,4059807103632,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,3,16.00,MULTCO,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901557,30848516000313-35356,2022-09-10,4746661,30848516000313,2788095,4064044253613,CALCA TIGHT LOGO MARCA BLACK M,Treino,XL,1,129.99,BLACK,False
1901558,30848516000313-35356,2022-09-10,4746661,30848516000313,2788095,4065429127550,CALCA TIGHT LOGO MARCA BLACK M,Treino,S,1,149.99,CBURGU/WHITE,False
1901559,21103537000823-933,2022-10-14,4867178,21103537000823,2036081,4065426710182,CALCA TIGHT LOGO MARCA BLACK M,Corrida,37,1,1599.99,GREFIV/ZEROMT/BEAORA,True
1901560,21103537000823-933,2022-10-14,4867178,21103537000823,2036081,4065415133770,CALCA TIGHT LOGO MARCA BLACK M,Vestimentas esportivas,M,1,199.99,BLACK/WHITE,False
1901561,21103537000823-933,2022-10-14,4867178,21103537000823,2036081,4066747337133,CALCA TIGHT LOGO MARCA BLACK M,Originais,L,1,499.99,WONOXI,True

In [12]:
t2["numeracao"].value_counts()

M       357250
L       280356
S       261150
XL      109664
NT       91713
         ...
90B          1
12A          1
520          1
32-          1
2XLS         1
Name: numeracao, Length: 253, dtype: int64

In [13]:
t2["valorUnitario"].mean()

251.0530727905823

## Base de dados de transações mais recente

In [14]:
tr = pd.read_csv("transacoes2.csv")
tr

,idOrigem,desconto,data,executionDate,numero,numeroPedidoLoja,idVendedor,sellerId,totalProdutos,totalVenda,...,hashcode,idOrigem_1,descricao,categoria,numeracao,quantidade,valorUnitario,desconto_1,cor,material
0,21092678000111-64065,0.4,2018-03-06 03:00:00 UTC,2023-01-24 03:30:26.016 UTC,380962,NaN,4,NaN,9,2559.910,...,NaN,4059805069114,CAMISETA SUPERNOVA M RAWSTE M,RUNNING,M,1,149.99,NaN,RAWSTE,NaN
1,21092678000111-64065,0.4,2018-03-06 03:00:00 UTC,2023-01-24 03:30:26.016 UTC,380962,NaN,4,NaN,9,2559.910,...,NaN,4055017073826,MEIA LINER CUSHION 3S 3P WHITE/WHITE/BLACK 3538,TRAINING,3538,1,29.99,NaN,WHITE/WHITE/BLACK,NaN
2,21092678000111-64065,0.4,2018-03-06 03:00:00 UTC,2023-01-24 03:30:26.016 UTC,380962,NaN,4,NaN,9,2559.910,...,NaN,4058032608264,CAMISETA MC FREELIFT PRIME GRNNIT M,TRAINING,M,1,119.99,NaN,GRNNIT,NaN
3,21092678000111-64065,0.4,2018-03-06 03:00:00 UTC,2023-01-24 03:30:26.016 UTC,380962,NaN,4,NaN,9,2559.910,...,NaN,4059323533418,TENIS UltraBOOST All Terrain GRETHR/GRETWO/NOB...,RUNNING,40,1,999.99,NaN,GRETHR/GRETWO/NOBIND,NaN
4,21092678000111-56448,0.0,2017-12-24 02:00:00 UTC,2023-01-24 03:28:22.667 UTC,329797,NaN,42,NaN,8,514.960,...,NaN,4057288560432,BERMUDA KNIT MGREYH/TRAGRE XL,ATHLETICS,XL,1,60.00,NaN,MGREYH/TRAGRE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960181,29482168000324-73476,0.0,2022-12-26 03:00:00 UTC,2023-01-24 03:30:17.21 UTC,5154858,NaN,2635,auth0|6390db320b37f02a8f4f2581,7,2339.725,...,0d134739056f8cca6b919a7c1adff240e0addf86,4066746291269,JAQUETA SST TT PB BLACK MULTCO M,ORIGINALS,M,1,499.99,NaN,BLACK MULTCO,NaN
1960182,30848516000585-39758,0.0,2022-12-22 03:00:00 UTC,2023-01-24 03:29:56.147 UTC,5120429,NaN,2653,NaN,7,1759.860,...,9457aebce65f90d8c04ad4c664763709b415ae00,4065429048060,REGATA BRAND LOVE BLACK/WHITE S,TRAINING,S,1,179.99,NaN,BLACK/WHITE,NaN
1960183,30848516000585-39758,0.0,2022-12-22 03:00:00 UTC,2023-01-24 03:29:56.147 UTC,5120429,NaN,2653,NaN,7,1759.860,...,9457aebce65f90d8c04ad4c664763709b415ae00,4064055403434,CAMISETA OWN THE RUN HALMIN S,RUNNING,S,1,199.99,NaN,HALMIN,NaN
1960184,30848516000585-39758,0.0,2022-12-22 03:00:00 UTC,2023-01-24 03:29:56.147 UTC,5120429,NaN,2653,NaN,7,1759.860,...,9457aebce65f90d8c04ad4c664763709b415ae00,4065429171874,SHORTS 2 IN 1 BLACK/WHITE XS,TRAINING,XS,1,199.99,NaN,BLACK/WHITE,NaN
1960185,30848516000585-39758,0.0,2022-12-22 03:00:00 UTC,2023-01-24 03:29:56.147 UTC,5120429,NaN,2653,NaN,7,1759.860,...,9457aebce65f90d8c04ad4c664763709b415ae00,4065429990369,SHORTS RUN ICON 2 IN 1 WONRED XS,RUNNING,XS,1,299.99,NaN,WONRED,NaN

In [15]:
tr.columns

Index(['idOrigem', 'desconto', 'data', 'executionDate', 'numero',
       'numeroPedidoLoja', 'idVendedor', 'sellerId', 'totalProdutos',
       'totalVenda', 'idLoja', 'canal', 'personIdERP', 'tipoIntegracao',
       'valorFrete', 'observacoes', 'hashcode', 'idOrigem_1', 'descricao',
       'categoria', 'numeracao', 'quantidade', 'valorUnitario', 'desconto_1',
       'cor', 'material'],
      dtype='object')

In [16]:
tr.isnull().sum().sort_values(ascending = False)

tipoIntegracao      1960186
numeroPedidoLoja    1960186
desconto_1          1960186
observacoes         1960186
material            1960186
sellerId            1470626
hashcode             957488
cor                  137640
numeracao            124403
categoria            122007
descricao            122007
numero                    0
data                      0
valorUnitario             0
quantidade                0
idOrigem_1                0
executionDate             0
idVendedor                0
valorFrete                0
desconto                  0
personIdERP               0
canal                     0
idLoja                    0
totalVenda                0
totalProdutos             0
idOrigem                  0
dtype: int64

In [17]:
tr2 = tr.drop(["data", "executionDate", "numeroPedidoLoja", "sellerId","valorFrete", "desconto_1", "observacoes", "tipoIntegracao", "material", "quantidade", "canal","totalVenda"], axis="columns")
tr2

,idOrigem,desconto,numero,idVendedor,totalProdutos,idLoja,personIdERP,hashcode,idOrigem_1,descricao,categoria,numeracao,valorUnitario,cor
0,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4059805069114,CAMISETA SUPERNOVA M RAWSTE M,RUNNING,M,149.99,RAWSTE
1,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4055017073826,MEIA LINER CUSHION 3S 3P WHITE/WHITE/BLACK 3538,TRAINING,3538,29.99,WHITE/WHITE/BLACK
2,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4058032608264,CAMISETA MC FREELIFT PRIME GRNNIT M,TRAINING,M,119.99,GRNNIT
3,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4059323533418,TENIS UltraBOOST All Terrain GRETHR/GRETWO/NOB...,RUNNING,40,999.99,GRETHR/GRETWO/NOBIND
4,21092678000111-56448,0.0,329797,42,8,21103537000580,6297-2052781,NaN,4057288560432,BERMUDA KNIT MGREYH/TRAGRE XL,ATHLETICS,XL,60.00,MGREYH/TRAGRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960181,29482168000324-73476,0.0,5154858,2635,7,29482168000324,6297-2847446,0d134739056f8cca6b919a7c1adff240e0addf86,4066746291269,JAQUETA SST TT PB BLACK MULTCO M,ORIGINALS,M,499.99,BLACK MULTCO
1960182,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4065429048060,REGATA BRAND LOVE BLACK/WHITE S,TRAINING,S,179.99,BLACK/WHITE
1960183,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4064055403434,CAMISETA OWN THE RUN HALMIN S,RUNNING,S,199.99,HALMIN
1960184,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4065429171874,SHORTS 2 IN 1 BLACK/WHITE XS,TRAINING,XS,199.99,BLACK/WHITE
1960185,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4065429990369,SHORTS RUN ICON 2 IN 1 WONRED XS,RUNNING,XS,299.99,WONRED

In [18]:
tr2.isnull().sum().sort_values(ascending = False)

hashcode         957488
cor              137640
numeracao        124403
descricao        122007
categoria        122007
idOrigem              0
desconto              0
numero                0
idVendedor            0
totalProdutos         0
idLoja                0
personIdERP           0
idOrigem_1            0
valorUnitario         0
dtype: int64

In [19]:
tr2["descricao"].value_counts()

LETRA AVULSA MULTCO NT                             9181
NR INT CLUB MULTCO NT                              7047
TENIS SUPERSTAR SLIP ON W CBLACK 35                6015
TENIS SUPERSTAR SLIP ON W CBLACK 36                5656
CARTEIRA GLAM preto NT                             4674
                                                   ...
CHUTEIRA X 21 1 SOCIETY FTWWHT/LEGIND/SKYRUS 45       1
TENIS SUPERNOVA BOOST W FTWWHT/GREFIV/SIGPNK 34       1
CAMISETA D2M 3S M LEGINK/APSIOR XL                    1
BERMUDA OLY TECH KL M SIGPNK 30                       1
TOP P PADBRA CHACOR/BLACK S                           1
Name: descricao, Length: 75094, dtype: int64

In [20]:
def tipo(tr2):
    if type(tr2["descricao"]) != str:
        return "without"
    if tr2["descricao"].split(' ')[0] == " " or tr2["descricao"].split(' ')[0] == "":
        return "without"
    if tr2["descricao"].split(' ')[0][:1] == "0" or tr2["descricao"].split(' ')[0][:1] == "1":
        return "without"
    if (tr2["descricao"].split(' ')[0].upper() == "PIN" or 
        tr2["descricao"].split(' ')[0].upper() == "FLASHBACK" or
        tr2["descricao"].split(' ')[0].upper() == "IMÃ" or
        tr2["descricao"].split(' ')[0].upper() == "BUCKET" or
        tr2["descricao"].split(' ')[0].upper() == "PLACA" or
        tr2["descricao"].split(' ')[0].upper() == "BALACLAVA" or
        tr2["descricao"].split(' ')[0].upper() == "YOGA" or
        tr2["descricao"].split(' ')[0].upper() == "BANDANA" or
        tr2["descricao"].split(' ')[0].upper() == "COLLANT" or
        tr2["descricao"].split(' ')[0].upper() == "GMR" or
        tr2["descricao"].split(' ')[0].upper() == "TIRO" or
        tr2["descricao"].split(' ')[0].upper() == "ARTIGOS" or
        tr2["descricao"].split(' ')[0].upper() == "STAN" or
        tr2["descricao"].split(' ')[0].upper() == "CALÃA" or
        tr2["descricao"].split(' ')[0].upper() == "MUNHEQUEIRA" or
        tr2["descricao"].split(' ')[0].upper() == "ADILETTE" or
        tr2["descricao"].split(' ')[0].upper() == "ADIDAS" or
        tr2["descricao"].split(' ')[0].upper() == "MARIMEKKO" or
        tr2["descricao"].split(' ')[0].upper() == "LEGO" or
        tr2["descricao"].split(' ')[0].upper() == "ESTEIRA" or
        tr2["descricao"].split(' ')[0].upper() == "BONÃ" or
        tr2["descricao"].split(' ')[0].upper() == "TUBULAR" or
        tr2["descricao"].split(' ')[0].upper() == "TREFOIL" or
        tr2["descricao"].split(' ')[0].upper() == "TIGHT" or
        tr2["descricao"].split(' ')[0].upper() == "TP" or
        tr2["descricao"].split(' ')[0].upper() == "RUN" or
        tr2["descricao"].split(' ')[0].upper() == "BF" or
        tr2["descricao"].split(' ')[0].upper() == "PATCHES" or
        tr2["descricao"].split(' ')[0].upper() == "PRIDE" or
        tr2["descricao"].split(' ')[0].upper() == "ZNE" or
        tr2["descricao"].split(' ')[0].upper() == "DC" or
        tr2["descricao"].split(' ')[0].upper() == "FLARED" or
        tr2["descricao"].split(' ')[0].upper() == "ESS" or
        tr2["descricao"].split(' ')[0].upper() == "NOME" or
        tr2["descricao"].split(' ')[0].upper() == "PRF" or
        tr2["descricao"].split(' ')[0].upper() == "LETRA" or
        tr2["descricao"].split(' ')[0].upper() == "NUMERO" or 
        tr2["descricao"].split(' ')[0].upper() == "PACK" or
        tr2["descricao"].split(' ')[0].upper() == "CUECA" or
        tr2["descricao"].split(' ')[0].upper() == "TRACK" or
        tr2["descricao"].split(' ')[0].upper() == "MINI"):
            return "without"
    
    if tr2["descricao"].split(" ")[0].upper() == "TEE" or tr2["descricao"].split(" ")[0].upper() == "CAMSIETA":
        return "CAMISETA"
    if (tr2["descricao"].split(' ')[0].upper() == "ALPHABOUNCE" or
       tr2["descricao"].split(' ')[0].upper() == "SUPERSTAR" or
       tr2["descricao"].split(' ')[0].upper() == "NR" or
       tr2["descricao"].split(' ')[0].upper() == "ULTRABOOST" or
       tr2["descricao"].split(' ')[0].upper() == "FARM" or
       tr2["descricao"].split(' ')[0].upper() == "FLUIDCLOUD" or
       tr2["descricao"].split(' ')[0].upper() == "GRAND" or
       tr2["descricao"].split(' ')[0].upper() == "SOLAR"):
        return "TENIS"
    if tr2["descricao"].split(" ")[0].upper() == "CHUT":
        return "CHUTEIRA"
    if tr2["descricao"].split(" ")[0].upper() == "MOLETON":
        return "MOLETOM"
    if tr2["descricao"].split(" ")[0].upper() == "TENNIS":
        return "TENIS"
    if tr2["descricao"].split(" ")[0].upper() == "CASACO" or tr2["descricao"].split(" ")[0].upper() == "JAQUET":
        return "JAQUETA"
    if tr2["descricao"].split(" ")[0].upper() == "SHORT":
        return "SHORTS"
    if tr2["descricao"].split(" ")[0].upper() == "CALA" or tr2["descricao"].split(" ")[0].upper() == "CALÇA":
        return "CALCA"
    if tr2["descricao"].split(" ")[0].upper() == "CALCAO" or tr2["descricao"].split(" ")[0].upper() == "BERUMDA":
        return "BERMUDA"
    if tr2["descricao"].split(" ")[0].upper() == "MEIAS" or tr2["descricao"].split(" ")[0].upper() == "MEIAO":
        return "MEIA"
    if tr2["descricao"].split(" ")[0].upper() == "SACOLAGINASTICA" or tr2["descricao"].split(" ")[0].upper() == "GYMSACK":
        return "SACOLA"
    if tr2["descricao"].split(" ")[0].upper() == "CONJUNTO":
        return "KIT"
    if tr2["descricao"].split(" ")[0].upper() == "MACACAO" or tr2["descricao"].split(" ")[0].upper() == "BODYSUIT" or tr2["descricao"].split(" ")[0].upper() == "MAIO" or tr2["descricao"].split(" ")[0].upper() == "MACAQUINHO":
        return "BODY"
    if tr2["descricao"].split(" ")[0].upper() == "CROP" or tr2["descricao"].split(" ")[0].upper() == "BRA":
        return "TOP"
    if tr2["descricao"].split(" ")[0].upper() == "GORRO":
        return "TOUCA"
    if tr2["descricao"].split(" ")[0].upper() == "SQUEEZE":
        return "GARRAFA"
    if tr2["descricao"].split(" ")[0].upper() == "LUVA":
        return "LUVAS"
    if tr2["descricao"].split(" ")[0].upper() == "BONÉ":
        return "BONE"
    if tr2["descricao"].split(" ")[0].upper() == "PATCHES" or tr2["descricao"].split(" ")[0].upper() == "BADGE":
        return "PATCH"
    if tr2["descricao"].split(" ")[0].upper() == "GARRAGA":
        return "GARRAFA"
    if tr2["descricao"].split(" ")[0].upper() == "BAG" or tr2["descricao"].split(" ")[0].upper() == "BOLSINHA":
        return "BOLSA"
    if tr2["descricao"].split(" ")[0].upper() == "SKIRT" or tr2["descricao"].split(" ")[0].upper() == "SKORT":
        return "SAIA"
    if tr2["descricao"].split(" ")[0].upper() == "MOCILA" or tr2["descricao"].split(" ")[0].upper() == "MOCHILAMINI" or tr2["descricao"].split(" ")[0].upper() == "PORTA": 
        return "MOCHILA"
    return tr2["descricao"].split(' ')[0].upper()
tr2["tipo"] = tr2.apply(tipo, axis=1)
tr2

,idOrigem,desconto,numero,idVendedor,totalProdutos,idLoja,personIdERP,hashcode,idOrigem_1,descricao,categoria,numeracao,valorUnitario,cor,tipo
0,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4059805069114,CAMISETA SUPERNOVA M RAWSTE M,RUNNING,M,149.99,RAWSTE,CAMISETA
1,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4055017073826,MEIA LINER CUSHION 3S 3P WHITE/WHITE/BLACK 3538,TRAINING,3538,29.99,WHITE/WHITE/BLACK,MEIA
2,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4058032608264,CAMISETA MC FREELIFT PRIME GRNNIT M,TRAINING,M,119.99,GRNNIT,CAMISETA
3,21092678000111-64065,0.4,380962,4,9,21103537000580,6297-2000020,NaN,4059323533418,TENIS UltraBOOST All Terrain GRETHR/GRETWO/NOB...,RUNNING,40,999.99,GRETHR/GRETWO/NOBIND,TENIS
4,21092678000111-56448,0.0,329797,42,8,21103537000580,6297-2052781,NaN,4057288560432,BERMUDA KNIT MGREYH/TRAGRE XL,ATHLETICS,XL,60.00,MGREYH/TRAGRE,BERMUDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960181,29482168000324-73476,0.0,5154858,2635,7,29482168000324,6297-2847446,0d134739056f8cca6b919a7c1adff240e0addf86,4066746291269,JAQUETA SST TT PB BLACK MULTCO M,ORIGINALS,M,499.99,BLACK MULTCO,JAQUETA
1960182,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4065429048060,REGATA BRAND LOVE BLACK/WHITE S,TRAINING,S,179.99,BLACK/WHITE,REGATA
1960183,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4064055403434,CAMISETA OWN THE RUN HALMIN S,RUNNING,S,199.99,HALMIN,CAMISETA
1960184,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4065429171874,SHORTS 2 IN 1 BLACK/WHITE XS,TRAINING,XS,199.99,BLACK/WHITE,SHORTS
1960185,30848516000585-39758,0.0,5120429,2653,7,30848516000585,6297-2842001,9457aebce65f90d8c04ad4c664763709b415ae00,4065429990369,SHORTS RUN ICON 2 IN 1 WONRED XS,RUNNING,XS,299.99,WONRED,SHORTS

In [23]:
tr2 = tr2.rename(columns={'numero': 'carrinho', 'idOrigem_1': 'produto'})

In [21]:
tr2["tipo"].value_counts()

CAMISETA      453204
TENIS         391674
CALCA         146494
MEIA          143271
without       142057
SHORTS         87526
CAMISA         81420
BERMUDA        62071
JAQUETA        60694
BLUSA          59718
CHINELO        41131
REGATA         39083
BONE           37289
BOLSA          26390
TOP            25576
CHUTEIRA       23091
MOCHILA        20873
SUNGA          16129
VESTIDO        12185
MOLETOM        10351
POCHETE        10042
KIT             8891
BOLA            8257
AGASALHO        6486
CARTEIRA        4679
BARALHO         4581
GARRAFA         4328
CHAPEU          4068
BODY            4031
SAIA            3964
VISEIRA         3522
MASCARA         2732
MALA            2112
LEGGING         1640
TOUCA           1323
COPO            1251
SACOLA          1166
LUVAS           1061
CINTO            990
COOLER           910
POLO             835
PATCH            783
CANELEIRA        626
BOX              400
PULSEIRA         381
OCULOS           193
CHAVEIRO         123
SANDALIA          98
CARDIGAN          91
COLETE            84
FAIXA             78
BLAZER            73
TOALHA            59
BRACADEIRA        29
TOPDRESS          27
LENCO             20
BIQUINI           17
CACHECOL           8
Name: tipo, dtype: int64

In [22]:
tr["categoria"].value_counts()

ORIGINALS                    968254
TRAINING                     222107
RUNNING                      185117
FOOTBALL LICENSED             96495
ATHLETICS                     70203
CORE SPORTS                   68469
FOOTBALL GENERIC              58688
CORE SPORTS INSPIRED          44205
SKATEBOARDING                 24590
SPORTSWEAR                    18305
SWIM                          18040
SLIDE                         17703
ACTIVE CASUAL                 10339
YEEZY                          9711
COLLABORATIONS                 8084
ORIGINALS BK B                 5101
DUMMY                          2395
BASKETBALL GENERIC             2392
ENERGY & CONSORTIUM            1496
GERAL                          1369
TENNIS                         1300
OUTDOOR                        1107
STELLA                         1012
OTHERS                          781
MUSIC PARTNERSHIPS              437
FOOTBALL/SOCCER                 374
BASKETBALL LICENSED              42
AMERICAN FOOTBALL                41
SPECIALTY SPORTS                 11
LUXURY/FASHION/STREETWEAR         8
ALTERN. SPORTS                    2
Y-3                               1
Name: categoria, dtype: int64

In [24]:
tr2["numeracao"].value_counts()

M       361793
L       284133
S       263812
XL      111211
NT       90697
         ...
23-          1
24-          1
2XLT         1
105E         1
3036         1
Name: numeracao, Length: 280, dtype: int64

In [26]:
tr3 = tr2.drop(["idOrigem","desconto","idVendedor","totalProdutos","idLoja","personIdERP","hashcode","numeracao","valorUnitario","cor","tipo"], axis="columns")
tr3.head(3)

,carrinho,produto,descricao,categoria
0,380962,4059805069114,CAMISETA SUPERNOVA M RAWSTE M,RUNNING
1,380962,4055017073826,MEIA LINER CUSHION 3S 3P WHITE/WHITE/BLACK 3538,TRAINING
2,380962,4058032608264,CAMISETA MC FREELIFT PRIME GRNNIT M,TRAINING

In [27]:
#tr3.to_csv("transacoes_1.4.csv", index=False)

## Tentativa de um modelo baseado em conteúdo

In [28]:
temas = ["frio", "calor", "pe", "pernas", "tronco", "cabeca", "acessorio", "vestimenta", "outro", "social", "casual", "esportivo", "masc", "fem"]

itens = {
    "CAMISETA": [0,1,0,0,1,0,0,1,0,0,1,0,1,1],
    "TENIS": [1,1,1,0,0,0,0,1,0,0,1,1,1,1],
    "CALCA": [1,0,0,1,0,0,0,1,0,0,1,1,1,1],
    "MEIA": [1,1,1,0,0,0,0,1,0,1,1,1,1,1],
    "SHORTS": [0,1,0,1,0,0,0,1,0,0,1,1,1,0],
    "CAMISA": [0,1,0,0,1,0,0,1,0,0,0,1,1,0]
}

base_p = pd.DataFrame(data = itens, index = temas).T
base_p

,frio,calor,pe,pernas,tronco,cabeca,acessorio,vestimenta,outro,social,casual,esportivo,masc,fem
CAMISETA,0,1,0,0,1,0,0,1,0,0,1,0,1,1
TENIS,1,1,1,0,0,0,0,1,0,0,1,1,1,1
CALCA,1,0,0,1,0,0,0,1,0,0,1,1,1,1
MEIA,1,1,1,0,0,0,0,1,0,1,1,1,1,1
SHORTS,0,1,0,1,0,0,0,1,0,0,1,1,1,0
CAMISA,0,1,0,0,1,0,0,1,0,0,0,1,1,0

In [29]:
carrinho = {
    "CAMISETA": np.NaN,
    "TENIS": np.NaN,
    "CALCA": 1,
    "MEIA": 1,
    "SHORTS": np.NaN,
    "CAMISA": 1
}

compra = pd.DataFrame(data = carrinho, index = ["carrinho"]).T
compra

          carrinho
CAMISETA       NaN
TENIS          NaN
CALCA          1.0
MEIA           1.0
SHORTS         NaN
CAMISA         1.0

In [30]:
score = base_p.multiply(compra["carrinho"], axis=0)
score

,frio,calor,pe,pernas,tronco,cabeca,acessorio,vestimenta,outro,social,casual,esportivo,masc,fem
CAMISETA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TENIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALCA,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
MEIA,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
SHORTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAMISA,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0

In [31]:
pessoaX = score.sum()
pessoaX

frio          2.0
calor         2.0
pe            1.0
pernas        1.0
tronco        1.0
cabeca        0.0
acessorio     0.0
vestimenta    3.0
outro         0.0
social        1.0
casual        2.0
esportivo     3.0
masc          3.0
fem           2.0
dtype: float64

In [32]:
base_p.multiply(pessoaX).sum(axis=1)

CAMISETA    13.0
TENIS       18.0
CALCA       16.0
MEIA        19.0
SHORTS      14.0
CAMISA      12.0
dtype: float64